{% extends 'base.html' %}
{% block content %}
<section class="jumbotron">
    <div class="container">
        <h1 class="jumbotron-heading">여행게시판</h1>
        <p class="lead text-muted">여행 게시판은 여행지, 맛집 추천 등 자유롭게 여행에 관련된 글을 올리는 게시판입니다.<br> 자유롭게 글을 남겨주세요!</p>
    </div>
</section>
<div class="container">
    {% for blog in posts %}
    <br>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{blog.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{blog.author}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">{{blog.pub_date}}</h6>
            <p class="card-text">{{blog.summary}}</p>
            <a href="{%url 'gu_detail' blog.id%}" class="card-link">...more</a>
        </div>
    </div>

    {%endfor%}
    <br>
    <a class="btn btn-outline-primary" href="{%url 'gu_new' %}" role="button">글쓰기</a>
    <div>
        <br>
        {%if posts.has_previous%}

        <a class="btn btn-outline-primary" href="?page=1" role="button">First</a>
        <a class="btn btn-outline-primary" href="?page={{posts.previous_page_number}}" role="button">Previous</a>
        {%endif%}

        <span>{{posts.number}}</span>
        <span>of</span>
        <span>{{posts.paginator.num_pages}}</span>

        {%if posts.has_next%}
        <a class="btn btn-outline-primary" href="?page={{posts.next_page_number}}" role="button">Next</a>
        <a class="btn btn-outline-primary" href="?page={{posts.paginator.num_pages}}" role="button">Last</a>
        {%endif%}
        <br>
    </div>
    <br>
</div>

{% endblock %}