{% extends 'base.html' %}
{% block content %}
<section class="jumbotron">
    <div class="container">
        <h1 class="jumbotron-heading">여행게시판</h1>
        <p class="lead text-muted">여행 게시판은 여행지, 맛집 추천 등 자유롭게 여행에 관련된 글을 올리는 게시판입니다.<br> 자유롭게 글을 남겨주세요!</p>
    </div>
</section>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{blog.title}}</h5>
            <h5 class="card-title">{{blog.author}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{blog.pub_date}}</h6>
            {% if blog.isFile %}
            <a href="{% url 'file' blog.id %}" novalidate>파일 다운로드</a>
            {%endif%}
            <p class="card-text">{{blog.body}}</p>
            <br>
            <a href="{% url 'gu' %}">돌아가기</a>
        </div>
    </div>
</div>
{% endblock %}