{% extends 'base.html' %}
{% block content %}
<section class="jumbotron">
    <div class="container">
        <h1 class="jumbotron-heading">영화게시판</h1>
        <p class="lead text-muted">영화를 보면서 교훈도 얻고 스트레스도
            풀고 마치 영상으로 된 책을 보는 느낌이라고 생각합니다. <br>요즘은 대부분이 살면서 책을 접하는 횟수보다 영화를 접하는게 더 많다고 생각해요!
            <br>같이 의견나누면서 영화를 다시한번 즐기실 분들은 자유롭게 글을 남겨주세요</p>
    </div>
</section>
<div class="container">
    {% for blog in posts %}
    <br>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{blog.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{blog.author}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">{{blog.pub_date}}</h6>
            <p class="card-text">{{blog.summary}}</p>
            <a href="{%url 'hyun_detail' blog.id%}" class="card-link">...more</a>
        </div>
    </div>

    {%endfor%}
    <br>
    <a class="btn btn-outline-primary" href="{%url 'hyun_new' %}" role="button">글쓰기</a>
    <div>
        <br>
        {%if posts.has_previous%}

        <a class="btn btn-outline-primary" href="?page=1" role="button">First</a>
        <a class="btn btn-outline-primary" href="?page={{posts.previous_page_number}}" role="button">Previous</a>
        {%endif%}

        <span>{{posts.number}}</span>
        <span>of</span>
        <span>{{posts.paginator.num_pages}}</span>

        {%if posts.has_next%}
        <a class="btn btn-outline-primary" href="?page={{posts.next_page_number}}" role="button">Next</a>
        <a class="btn btn-outline-primary" href="?page={{posts.paginator.num_pages}}" role="button">Last</a>
        {%endif%}
        <br>
    </div>
    <br>
</div>

{% endblock %}